body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

header{ 
    background-color: #1f2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    color: #f9faf8;
    margin: 2%;
}

header ul {
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
}

header ul li {
    margin-right: 18px; 

}

main{
    display: flex;
    flex-direction: column;
}

.upper{
    display: flex;
    padding: 100px;
    background-color: #1f2937;
    
}

.upper img{
    flex: auto;
    max-width: 600px;
    height: auto;
    margin: 30px;
}

.intro{
    display: flex;
    flex-direction: column;
}

.intro button{
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    font-size: 18px;
    border-radius: 8px;
    border:none;
    padding:10px;
}

.intro h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin-bottom: 20px;
    margin-top: 50px;
}

.intro p{
    color: #f9faf8;
    font-size: 24px;
    margin: 0 40px 30px 0;

}

.middle{
    padding:80px 150px 150px 150px;
}

#h2{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2973;
    text-align: center;
    margin-bottom: 70px;
}

.middle .icons{
    display: flex;
    justify-content: space-evenly;
    margin: 0 100px 30px 100px;
}

.middle .icons img{
    height:80px;
    width:80px;
    margin-left: 60px;
}

.icons p{
    margin-right: 80px;
    text-align: center;
}


footer{
    background-color: #1f2937;
    padding: 20px;
    text-align: center;
    color:#f9faf8
}

.quote{
    background-color: #e5e7eb ;
    padding: 90px 450px;
}

.quote #phrase{
    font-size: 36px; 
    color: #1f2937;
    font-weight: light;
    font-style: italic;
}

.quote #thor{
    text-align: right;
    font-size: 18px;
}

.last{
    padding: 90px ;
    
}


.last .blue-box{
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    padding: 10px 60px;
    width: 60%;
    border: none;
    border-radius: 8px;
    margin: 0 230px;
}
   

.blue-box button{
    flex:none;
    height: 30px;
    width: 80px;
    color: #e5e7eb;
    border-color:white;
    background-color: #3882f6;
    border-radius: 10px;
}

.blue-box .cta{
    color:#e5e7eb;
}